body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f2f4f7;
}

header {
  background: #111;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 700px;
  margin: 20px auto;
  padding: 10px;
}

#searchInput {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.note {
  background: white;
  margin-top: 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.note h3 {
  margin: 0;
}

.note p {
  color: #555;
  margin: 5px 0;
}

.locked {
  color: #d9534f;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 15px;
  color: gray;
}
